
* { padding:0; margin:0; }

body {
  padding: 0px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0022CC;
}

#main-panel {
    margin:5px auto;
    padding:5px;
}

/* Adaptive / Responsive */
@media all and (min-width:320px) {
    #main-panel {
        width:300px;
        border: 1px solid #900;
    }
}
@media all and (min-width:480px) {
    #main-panel {
        width:460px;
        border: 1px solid #990;
    }
}
@media all and (min-width:600px) {
    #main-panel {
        width:580px;
        border: 1px solid #909;
    }
}
@media all and (min-width:768px) {
    #main-panel {
        width:748px;
        border: 1px solid #099;
    }
}
@media all and (min-width:900px) {
    #main-panel {
        width:880px;
        border: 1px solid #009;
    }
}
@media all and (min-width:1024x) {
    #main-panel {
        width:1004px;
        border: 1px solid #990;
    }
}
@media all and (min-width:1200px) {
    #main-panel {
        width:1180px;
        border: 1px solid #090;
    }
}

