body {
  padding-top: 10px;
  padding-bottom: 10px;
/*
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
*/
}

.custom {
}


.bordered tr td {
  min-width:40px;
  padding:1px 5px;
  border:2px solid #bbb;
}
.bordered tr td b { 
  font-size: 1.2em; 
  font-weight: bold; 
}

.popover_box {
  width:540px;        /* 540/2=270 */
  height:220px;
  background-color:#eee;

  border:2px solid #ccc;
  box-shadow: 3px 4px 6px #ccc;
  border-radius:6px;

  position: absolute;
  left:50%;
  margin-left:-280px; /* width + pad + border */
  top: 50%;
  margin-top: -115px;
  
  padding: 18px;
}

.confirm {
  background-color: #fff;

  position: absolute;
  left:50%;
  margin-left:-150px; /* w + pad + bord */
  top: 80px;

  width: 300px;
  height: 240px;

  border: 4px solid black;
  font-weight: bold;
}

.tooltip{
  background-color:#5c9bb7;

  background-image:-webkit-linear-gradient(top, #5c9bb7, #5392ad);
  background-image:-moz-linear-gradient(top, #5c9bb7, #5392ad);
  background-image:linear-gradient(top, #5c9bb7, #5392ad);

  box-shadow: 0 1px 1px #ccc;
  border-radius:3px;
  width: 290px;
  padding: 10px;

  position: absolute;
  left:50%;
  margin-left:-150px;
  top: 80px;
}

.tooltip:after{
  /* The tip of the tooltip */
  content:'';
  position:absolute;
  border:6px solid #5190ac;
  border-color:#5190ac transparent transparent;
  width:0;
  height:0;
  bottom:-12px;
  left:50%;
  margin-left:-6px;
}

input.big_input {
  border: none;
  width: 100%;
  line-height: 34px;
  border-radius: 3px;
  box-shadow: 0 2px 6px #bbb inset;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  color: #8d9395;
  font-weight: bold;
  outline: none;
}


/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border: 1px solid #bbb;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect 
  .jumbotron {
    border-bottom: 0;
  }
*/
}

.console {
  border-radius:6px;
  background-color: #eee;
  border: 1px solid #bbb;
  margin:0;
/*
  box-shadow: 0 -2px 12px #bbb inset;
*/
  box-shadow: 0px 0px 6px #bbb inset;
  font-size:18px;
}
.jumbotron {
  box-shadow: 0px 0px 6px #bbb inset;
}

.panel {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 6px #CCE;
}

.black {
  color:#000 !important;
}

/*
 * customize Main Editing Modal
 */
.modal-body textarea {
  margin-left:auto;
  margin-right:auto;
  width:83%;
}
/* speedup transition time by 50% */
.fast, .modal .fade .modal-dialog .fast {
  -webkit-transition: -webkit-transform .24s ease-out;
     -moz-transition:    -moz-transform .24s ease-out;
       -o-transition:      -o-transform .24s ease-out;
          transition:         transform .24s ease-out;
  -webkit-transform: translate(0, +5%); /* 25% was middle of screen */
      -ms-transform: translate(0, +5%);
          transform: translate(0, +5%);
}
.transparent, .modal-content .transparent {
  background-color:rgba(255,255,255,0.4) !important;
}

// over write :hover color; doesn't work!
a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #AACCEE;
}

.close {
  font-size:2.0em;
}
.close:hover {
  color:#000;
  font-size:2.0em;
}
.skinny {
  padding:16px;
}
.no-top {
  margin-top:0;
}
